dataset_fields/
data/
*.mp4
*.png
*.h5
*.json
*.jsonl
*.jsonl.gz
*.jsonl.gz.part


__pycache__/
droid_100_raw/
droid_100_tfds/
extracted_data/
droid_100/
droid_raw/
nyu_door_opening_surprising_effectiveness/
*.csv
